.walk-container {
  display: flex;
  margin-top: 5px;
}

.walk-date {
  width: 200px;
}

.walk-distance {
  width: 100px;
}

.btn-container {
  width: 200px;
  display: flex;
  justify-content: flex-end;
}

.btn {
  width: 10px;
  height: 10px;
  border-width: 0;
  margin-left: 5px;
}