.walk-container {
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
}

.walk-date {
  width: 200px;
}

.walk-distance {
  width: 70px;
  text-align: right;
}

.btn-container {
  width: 230px;
  display: flex;
  justify-content: flex-end;
}

.btn {
  font-size: inherit;
  border-width: 0;
  margin-left: 5px;
  background-color: white;
}

.btn:hover {
  color: white;
  background-color: cadetblue;
  border-radius: 3px;
}