@import url(https://fonts.googleapis.com/css?family=Muli:400,300italic,300,400italic);
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body,
html {
  margin: auto;
  width: 100%;
  height: auto;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}